@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

/* header,
section {
  overflow-x: hidden;
} */

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: #1A1A1A;
  /* --light-gray: rgba(255, 255, 255, 0.877); */
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: #F5Fd4D;
  font-size: 20px;
}
#navbarNav{
  background: none;
border-radius: none;
padding: none   ;
}

header h4 {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: #F5Fd4D;
  font-size: 30px;
}

/* body{
  overflow: hidden;
} */


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 6rem;
  font-size: 50px;
  font-weight: bold;
}

.h4a{
  padding-left: 0rem;
  font-size: 50px;
  font-weight: bold;
}

a:hover{
  color: white;
}

header .nav-link:hover {
  color: white;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
  padding-top: 90px;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: #ff512f;
  /* fallback for old browsers */
  background: var(--bggradient);
}

header .container .col-md-6 {
  font-family: "Rubik", sans-serif;
  max-width: 30%;
  padding-top: 80px;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
  background-color: #F5DF4D;
  height: 45px;
  width: 60%;
}

.primary-btn0 {
  border-radius: 15px;
  font-weight: bold;
  background-color: #F5DF4D;
}

.space {
  width: 8px;
  height: auto;
  display: inline-block;
}


/********** section 1 **************/

.section-1 {
  padding: 20vmin 0vmin;
  background-color: #1a1a1a;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 1;
  width: 80%;
  border-radius: 0.2em;
  width: 100%;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  /* top: 3vmin; */
  left: -6vmin;
  border-radius: 3px;
  text-align: left;
  /* padding: 13vmin 5vmin 20vmin 10vmin; */
  /* box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); */
  font-family: var(--Rubik);
  z-index: 1;
}

.container-1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  height: 450px;
  width: 450px;
  background-color: yellow;
  border-radius: 50%;

}

.img {
  border-radius: 50%;
}
.s{
  height: 330px;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
  color: white;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: white;
}

/*  Section 2  */

.section-2 {
  padding: 10vmin 0vmin;
  background-color: #1a1a1a;
}

.section-2 .row .col-md-6 .pray img {
  opacity: 1;
  width: 80%;
  border-radius: 0.2em;
  width: 100%;
}

.section-2 .row .col-md-4:last-child {
  position: relative;
}

.section-2 .row .col-md-5 .panel {
  position: absolute;
  top: 20vmin;
  /* padding-top: 20px; */
  left: -6vmin;
  border-radius: 3px;
  text-align: left;
  padding: 0vmin 5vmin 2vmin 10vmin;
  /* box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); */
  font-family: var(--Rubik);
  z-index: 1;
}

.container-2{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .circle1{
  height: 450px;
  width: 4500px;
  background-color: yellow;
  border-radius: 50%;

} */

.img-1{
  height: 450px;
  padding-left: 100px;
}

.tex{
  padding-top: 100px !important;
}
.a3{
  height: 416px;
}
.text-left h1{
  margin-top:none;
}

.text-left{
  text-align: left !important;
margin-top: 84px;
}

.text-left1a h1{
  margin-top:none;
}

.text-left1a{
  text-align: left !important;
margin-top: 84px;
color: white;
}

#income{
  font-weight: 600;
  font-size: 35px;
}

.text-left-inc{
  text-align: left !important;
margin-top: 84px;
color: white;
}


/* .img {
  border-radius: 50%;
} */

.section-2 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
  color: white;
}

.section-2 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: white;
}

.btn2 {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
    border-color: yellow;
}

.primary-btn2 {
  border-radius: 30px;
  font-weight: bold;
  background-color: #F5DF4D;
}

/* Section 3 */

.section-3 {
  padding: 20vmin 0vmin;
  background-color: #1a1a1a;
}

.section-3 .row .col-md-6 .pray img {
  opacity: 1;
  width: 80%;
  border-radius: 0.2em;
  width: 100%;
}

.section-3 .row .col-md-6:last-child {
  position: relative;
}

.section-3 .row .col-md-6 .panel {
  position: absolute;
  top: 3vmin;
  left: -6vmin;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  /* box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); */
  font-family: var(--Rubik);
  z-index: 1;
}

.container-3{
  display: flex;
  align-items: center;
  justify-content: center;
}
.a4{
  height: 412px;
}
.circle1{
  height: 400px;
  width: 400px;
  background-color: yellow;
  border-radius: 50%;

}

.section-3 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
  color: white;
}

.section-3 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: white;
}

.mrg{
  padding-left: 70px;
}

/* Section n*/
.section-n {
  /* height: 70vmin;
  margin-top: 15vmin; */
 background-color: #1A1A1A;
}

.your-money{
    text-align: left;
margin-left: 20px;
  }

  .text-left2{
    text-align: left;
    margin-left: 17px;
  }

.text{
  color: white;
}

.card-body{
  color: white;
}

.section-n .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-n .team {
  padding: 10vmin 4vmin;
}

.section-n .card {
  width: 22em;
  margin-top: 10vmin;
  background-color: blue;
}

.section-n .card .card-text {
  padding: 0.5em;
}

.border-primary{
  color: blue;
}

.bg-primary{
  color: #1a1a1a;
}

.section-n .card-body > a {
  font-size: 1.5em;
}

.section-n .cardN {
  width: 22em;
  margin-top: 10vmin;
  background-color: white;
  /* border-color: coral; */
}

.section-n .cardN .card-text {
  padding: 0.5em;
}

.section-n .cardN-body > a {
  font-size: 1.5em;
}



.section-n .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

.btnN {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.primary-btnN {
  border-radius: 30px;
  font-weight: bold;
  background-color: #F5DF4D;
}

/* Section 4 */

.section-4 {
  padding: 20vmin 0vmin;
}

.section-4 .row .col-md-6 .pray img {
  opacity: 1;
  width: 80%;
  border-radius: 0.2em;
  width: 100%;
}

.section-4 .row .col-md-6:last-child {
  position: relative;
}

.section-4 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -6vmin;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  /* box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); */
  font-family: var(--Rubik);
  z-index: 1;
}

.container-2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  height: 450px;
  width: 450px;
  background-color: yellow;
  border-radius: 50%;

}

.img {
  border-radius: 50%;
}

.section-4 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
  color: black;
}

.section-4 .row .col-md-6 .panel p {
  font-size: 0.9em;
  /* color: rgba(0, 0, 0, 0.5); */
}

.btn2 {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.primary-btn2 {
  border-radius: 30px;
  font-weight: bold;
}


/*section -5*/

.section-5 {
  padding: 20vmin 0vmin;
  /* background-color: #1a1a1a; */
}

.section-5 .row .col-md-6 .pray img {
  opacity: 1;
  width: 80%;
  border-radius: 0.2em;
  width: 120%;
}

.section-5 .row .col-md-6:last-child {
  position: relative;
}

.section-5 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -6vmin;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  /* box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); */
  font-family: var(--Rubik);
  z-index: 1;
}

.container-5{
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-5{
  height: 400px;
  width: 400px;
  background-color: yellow;
  border-radius: 50%;

}

.img {
  border-radius: 50%;
}

.section-5 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-5 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/* section 6*/

.section-6 {
  padding: 20vmin 0vmin;
  background-color: #F5DF4D;
}

.section-6 .row .col-md-6 .pray img {
  opacity: 1;
  width: 80%;
  border-radius: 0.2em;
  width: 100%;
}

.section-6 .row .col-md-6:last-child {
  position: relative;
}

.section-6 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -6vmin;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  /* box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); */
  font-family: var(--Rubik);
  z-index: 1;
}

.container-1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  height: 450px;
  width: 450px;
  background-color: yellow;
  border-radius: 50%;

}

.img {
  border-radius: 50%;
}

.section-6 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-6 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

.btn2 {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.primary-btn2 {
  border-radius: 30px;
  font-weight: bold;
}

/* It is Adjacent sibling combinator */

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #F5DF4D;
}

footer .column i + i {
  padding: 0 0.5em;
}
.text-muted1{
  color: #F5DF4D;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}

li{
  list-style: none;
}

a{
  color: #F5DF4D;
}
